<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243544638275-np1gicrjkbqn9h1rmcvhiqcqkjivr0ft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243544638275-np1gicrjkbqn9h1rmcvhiqcqkjivr0ft</string>
	<key>API_KEY</key>
	<string>AIzaSyA9mkk6bQoW5hcHRlLVFhwcljLXZwvFLlE</string>
	<key>GCM_SENDER_ID</key>
	<string>243544638275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testCodemagic</string>
	<key>PROJECT_ID</key>
	<string>test-codemagic-7bcdd</string>
	<key>STORAGE_BUCKET</key>
	<string>test-codemagic-7bcdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243544638275:ios:980c043829cf34e02b25f6</string>
</dict>
</plist>